_bakeresourcecache/
code/Properties/
code/obj/
.codegen/
.intermediate
materials/default/*
accesslist.txt
tools_asset_info.bin
tools_thumbnail_cache.bin
omnisharp.json

*_bakeresourcecache.vpk
*.csproj
*.bat
*.los
*.py
*.rar
*.vanmgrph_c
*.vmat_c
*.vmdl_c
*.vp
*.vsnd_c
*.vtex_c
*.zip
*.vpk
*.vpcf_c
*.blend3
*.blend5
*.blend1
*.blend2
*.blend4
/scripts/vscripts/.vscode
/scripts/vscripts/maskfinder
